node_modules
.git
.expo
.expo-shared

android/app/build
android/build
android/.gradle
android/app/.cxx
android/.cxx

dist-export-check
dist-audit

coverage
.vscode
.idea

*.log
*.md
*.gguf
*.bin
*.onnx
models